@import '../../assets/styles/variables.scss';

/*Header*/

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    &__logo{
        display: flex;
        justify-content: center;
    }

    &__navbar{
        width: 100%;
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: $black;
        justify-content: center;
        border-top: 1px $grey-color solid;
        border-bottom: 1px $grey-color solid;

        nav{
        display: flex;
        gap: 30px;

        .link{
            color: $grey-color;
            text-decoration: none;
        }
        
        .link:hover{
            cursor: pointer;
        }
        }
    }
}